<!DOCTYPE html>
<html>
<head>
	<title><%= name %> </title>

 <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" rel="stylesheet">
            <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" rel="stylesheet">
                <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css" rel="stylesheet">
                    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.min.css" rel="stylesheet">
                        <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css" rel="stylesheet">
                            <meta charset="utf-8">
                                <meta content="width=device-width, initial-scale=1.0" name="viewport">
                                    <meta content="ie=edge" http-equiv="X-UA-Compatible">
                                        <title>
                                            Main Page
                                        </title>
                                    </meta>
                                </meta>
                            </meta>
                        </link>
                    </link>
                </link>
            </link>
        </link>

	
</head>
<body>
	<h2>Edit Category</h2>
	<a href="/">HOMEPAGE</a> | <a href="/">Back to List</a>
	<br/><br/>


<!-- 		<form method="post">
			<input type="hidden" name="catid" value="<%= id %>">
			<table>
				<tr>
					<td>ID</td>
					<td><%= id %></td>
				</tr>
				<tr>
					<td>NAME</td>
					<td><input type="text" name="catname" value="<%= name %>"></td>
				</tr>
				<tr>
					<td>DESCRIPTION</td>
					<td><input type="text" name="desc" value="<%= description %>"></td>
				</tr>
				<tr>
					<td></td>
					<td><input type="submit" value="Update"></td>
				</tr>
			</table>
		</form> -->



<div>
    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered"
           height="500" width="780" controls autoplay>

<source src="/<%= type %>" type="video/mp4">  
<source src="/<%= type %>" type="video/ogg">

</video>

<a href="#"><h1><%= name %></h1></a>

	<%= description %></div></br>
	<%= views+1 %> views

		

</div>

</body>
</html>